<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menü</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item (click)="openPage('OrderPage')">
        <ion-icon name="pricetags"></ion-icon>
        Bestellen
      </button>
      <button menuClose ion-item (click)="openPage('CartPage')">
        <ion-icon name="cart"></ion-icon>
        Warenkorb
        <ion-badge item-right>{{cartItemCount}}</ion-badge>
      </button>
      <button menuClose ion-item (click)="openAboutModal()">
        <ion-icon name="people"></ion-icon>
        Über Uns
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false">
</ion-nav>
